/* Estilo general del encabezado */
header {
    background: linear-gradient(to bottom, rgba(0,0,0,0.6), rgba(0,0,0,0.6));
    background-size: cover;
    display: -webkit-box; /* para Safari 3.1 - 6.0 */
    display: -moz-box; /* para Firefox 2-27 */
    display: -ms-flexbox; /* para IE 10 */
    display: -webkit-flex; /* para Safari 6.1+ y Chrome 21+ */
    display: flex;
    -webkit-box-pack: justify; /* para Safari 3.1 - 6.0 */
    -moz-box-pack: justify; /* para Firefox 2-27 */
    -ms-flex-pack: justify; /* para IE 10 */
    -webkit-justify-content: space-between; /* para Safari 6.1+ y Chrome 21+ */
    justify-content: space-between;
    -webkit-box-align: center; /* para Safari 3.1 - 6.0 */
    -moz-box-align: center; /* para Firefox 2-27 */
    -ms-flex-align: center; /* para IE 10 */
    -webkit-align-items: center; /* para Safari 6.1+ y Chrome 21+ */
    align-items: center;
    padding: 20px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    background-color: #282c34; /* aqui cambio el color del fondo a mas oscuro */
    height: 80px;
}

/* Estilo del logo */
.logo {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.logo img {
  width: 100px;
  height: 50px;
  margin-right: 10px;
}

.logo h1 {
  font-size: 24px;
  font-weight: bold;
  color: #fff;
  margin: 0;
}

/* Estilos del menú de navegación */
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav ul li {
  position: relative;
  margin-right: 20px;
}

nav ul li:last-child {
  margin-right: 0;
}

nav ul li:hover ul {
  display: block;
}

nav ul ul {
  position: absolute;
  top: 100%;
  left: 0;
  display: none;
  background-color: #fff;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
  padding: 10px 0;
  z-index: 1;
}

nav ul ul li {
  width: 200px;
  padding: 10px;
  white-space: nowrap;
}

nav ul ul li:hover {
  background-color: #f5f5f5;
}

nav ul ul a {
  color: #333;
  text-decoration: none;
  font-size: 14px;
}

nav ul a {
  color: #b6acac;
  text-decoration: none;
  display: block;
  font-size: 16px;
  padding: 10px;
}

nav ul a:hover {
  color: #fff;
  background-color: #333;
}

/* Estilos del subíndice */
nav ul ul li a {
  display: block;
  padding: 8px 20px;
  font-size: 14px;
  color: #333;
  text-decoration: none;
}

nav ul ul li a:hover {
  background-color: #f5f5f5;
  color: #333;
}

nav ul ul li a:focus {
  outline: none;
  background-color: #f5f5f5;
  color: #333;
}

nav ul ul li a.active {
  background-color: #333;
  color: #fff;
}
/* Estilo del campo de búsqueda */
.search {
  display: flex;
  align-items: center;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  overflow: hidden;
  margin-right: 20px;
}

/* Estilo del input de búsqueda */
.search input {
  flex: 1;
  border: none;
  padding: 10px;
  font-size: 16px;
}

/* Estilo del botón de búsqueda */
.search button {
  background-color: #00b894;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 0 20px 20px 0;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

/* Estilo del botón de búsqueda al pasar el cursor sobre él */
.search button:hover {
  background-color: #00a383;
}
/*----------------------------------------------------------------------------*/