/* Estilo general del encabezado */
header {
    background: linear-gradient(to bottom, rgba(0,0,0,0.6), rgba(0,0,0,0.6));
    background-size: cover;
    display: -webkit-box; /* para Safari 3.1 - 6.0 */
    display: -moz-box; /* para Firefox 2-27 */
    display: -ms-flexbox; /* para IE 10 */
    display: -webkit-flex; /* para Safari 6.1+ y Chrome 21+ */
    display: flex;
    -webkit-box-pack: justify; /* para Safari 3.1 - 6.0 */
    -moz-box-pack: justify; /* para Firefox 2-27 */
    -ms-flex-pack: justify; /* para IE 10 */
    -webkit-justify-content: space-between; /* para Safari 6.1+ y Chrome 21+ */
    justify-content: space-between;
    -webkit-box-align: center; /* para Safari 3.1 - 6.0 */
    -moz-box-align: center; /* para Firefox 2-27 */
    -ms-flex-align: center; /* para IE 10 */
    -webkit-align-items: center; /* para Safari 6.1+ y Chrome 21+ */
    align-items: center;
    padding: 20px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    background-color: #282c34; /* aqui cambio el color del fondo a mas oscuro */
}

/* Estilo del logo */
.logo {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.logo img {
  width: 100px;
  height: 50px;
  margin-right: 10px;
}

.logo h1 {
  font-size: 24px;
  font-weight: bold;
  color: #fff;
  margin: 0;
}

/* Estilos del menú de navegación */
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav ul li {
  position: relative;
  margin-right: 20px;
}

nav ul li:last-child {
  margin-right: 0;
}

nav ul li:hover ul {
  display: block;
}

nav ul ul {
  position: absolute;
  top: 100%;
  left: 0;
  display: none;
  background-color: #fff;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
  padding: 10px 0;
  z-index: 1;
}

nav ul ul li {
  width: 200px;
  padding: 10px;
  white-space: nowrap;
}

nav ul ul li:hover {
  background-color: #f5f5f5;
}

nav ul ul a {
  color: #333;
  text-decoration: none;
  font-size: 14px;
}

nav ul a {
  color: #b6acac;
  text-decoration: none;
  display: block;
  font-size: 16px;
  padding: 10px;
}

nav ul a:hover {
  color: #fff;
  background-color: #333;
}

/* Estilos del subíndice */
nav ul ul li a {
  display: block;
  padding: 8px 20px;
  font-size: 14px;
  color: #333;
  text-decoration: none;
}

nav ul ul li a:hover {
  background-color: #f5f5f5;
  color: #333;
}

nav ul ul li a:focus {
  outline: none;
  background-color: #f5f5f5;
  color: #333;
}

nav ul ul li a.active {
  background-color: #333;
  color: #fff;
}
/* Estilo del campo de búsqueda */
.search {
  display: flex;
  align-items: center;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  overflow: hidden;
  margin-right: 20px;
}

/* Estilo del input de búsqueda */
.search input {
  flex: 1;
  border: none;
  padding: 10px;
  font-size: 16px;
}

/* Estilo del botón de búsqueda */
.search button {
  background-color: #00b894;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 0 20px 20px 0;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

/* Estilo del botón de búsqueda al pasar el cursor sobre él */
.search button:hover {
  background-color: #00a383;
}
/*----------------------------------------------------------------------------*/

.logobanner{
    background-color: #b8b5b5;
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: left;
    background-image:url(http://drive.google.com/uc?export=view&id=1kLh3qVl2w0RgU0duqHntC59yMhIT5RG1);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 210px ;
    min-width: 500px;
}
.logobanner img{
    display: flex;
    justify-content: left;
    padding: 0px;
    width: 320px;
    height: 200px;
}
.contenedor1{
  background-color: #f2f2f2;
  padding: 0%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.texto1{
    text-align: center;
    margin-right: 50px;     
}
.contenedor1 img{
  margin-top: 100px;
  width: 500px;
  height: 300px;
}


.contenedor2{
  background-color: #f2f2f2;
  padding: 0%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 70px;
}
.texto2{
    text-align: normal;
    margin-left: 50px;     
}
.contenedor2 img{
  
  margin-top: 100px;
  width: 700px;
  height: 280px;
}











/*ENCABEZADO*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans';
}
.logo{
    display: flex;/*LOGO EN UNA MISMA LINEA*/
    align-items: center;
}
/*TAMAÑO DE LOGO*/
.logo img{
    height: 50px;
    margin-right: 10px;
}

body{
    box-sizing: border-box;
    font-family: 'Poppins','sans-serif';
    min-height: 100vh;
    background: #ffffff;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
  }
  .wrapper{
    background: #171c24;
    position: fixed;
    width: 100%;
    padding: 10px;
  }
  .wrapper nav{
    position: relative;
    display: flex;
    max-width: calc(100% - 100px);
    margin: 0 auto;
    height: 75px;
    align-items: center;
    justify-content: space-between;
  }
  nav .content{
    display: flex;
    align-items: center;
  }
  nav .content .links{
    margin-left: 80px;
    display: flex;
  }
  .content .logo a{
    color: #fff;
    font-size: 30px;
    font-weight: 600;
  }
  .content .links li{
    list-style: none;
    line-height: 70px;
  }
  .content .links li a,
  .content .links li label{
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    padding: 9px 17px;
    border-radius: 5px;
    transition: all 0.3s ease;
  }
  .content .links li label{
    display: none;
  }
  .content .links li a:hover,
  .content .links li label:hover{
    background: #323c4e;
  }
  .wrapper .search-icon,
  .wrapper .menu-icon{
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    line-height: 70px;
    width: 70px;
    text-align: center;
  }
  .wrapper .menu-icon{
    display: none;
  }
  .wrapper #show-search:checked ~ .search-icon i::before{
    content: "\f00d";
  }
  .wrapper .search-box{
    position: absolute;
    height: 100%;
    max-width: calc(100% - 50px);
    width: 100%;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
  }
  .wrapper #show-search:checked ~ .search-box{
    opacity: 1;
    pointer-events: auto;
  }
  .search-box input{
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 17px;
    color: #fff;
    background: #171c24;
    padding: 0 100px 0 15px;
  }
  .search-box input::placeholder{
    color: #f2f2f2;
  }
  .search-box .go-icon{
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    line-height: 60px;
    width: 70px;
    background: #171c24;
    border: none;
    outline: none;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
  }
  .wrapper input[type="checkbox"]{
    display: none;
  }
  /* Dropdown Menu code start */
  .content .links ul{
    position: absolute;
    background: #171c24;
    top: 80px;
    z-index: -1;
    opacity: 0;
    visibility: hidden;
  }
  .content .links li:hover > ul{
    top: 70px;
    opacity: 1;
    visibility: visible;
    transition: all 0.3s ease;
  }
  .content .links ul li a{
    display: block;
    width: 100%;
    line-height: 30px;
    border-radius: 0px!important;
  }
  .content .links ul ul{
    position: absolute;
    top: 0;
    right: calc(-100% + 8px);
  }
  .content .links ul li{
    position: relative;
  }
  .content .links ul li:hover ul{
    top: 0;
  }
  /* Responsive code start */
  @media screen and (max-width: 1250px){
    .wrapper nav{
      max-width: 100%;
      padding: 100px;
    }
    nav .content .links{
      margin-left: 30px;
    }
    .content .links li a{
      padding: 8px 13px;
    }
    .wrapper .search-box{
      max-width: calc(100% - 100px);
    }
    .wrapper .search-box input{
      padding: 0 100px 0 15px;
    }
  }
  @media screen and (max-width: 900px){
    .wrapper .menu-icon{
      display: block;
    }
    .wrapper #show-menu:checked ~ .menu-icon i::before{
      content: "\f00d";
    }
    nav .content .links{
      display: block;
      position: fixed;
      background: #14181f;
      height: 100%;
      width: 100%;
      top: 70px;
      left: -100%;
      margin-left: 0;
      max-width: 350px;
      overflow-y: auto;
      padding-bottom: 100px;
      transition: all 0.3s ease;
    }
    nav #show-menu:checked ~ .content .links{
      left: 0%;
    }
    .content .links li{
      margin: 15px 20px;
    }
    .content .links li a,
    .content .links li label{
      line-height: 40px;
      font-size: 20px;
      display: block;
      padding: 8px 18px;
      cursor: pointer;
    }
    .content .links li a.desktop-link{
      display: none;
    }
    /* dropdown responsive code start */
    .content .links ul,
    .content .links ul ul{
      position: static;
      opacity: 1;
      visibility: visible;
      background: none;
      max-height: 0px;
      overflow: hidden;
    }
    .content .links #show-features:checked ~ ul,
    .content .links #show-services:checked ~ ul,
    .content .links #show-items:checked ~ ul{
      max-height: 100vh;
    }
    .content .links ul li{
      margin: 7px 20px;
    }
    .content .links ul li a{
      font-size: 18px;
      line-height: 30px;
      border-radius: 5px!important;
    }
  }
  @media screen and (max-width: 400px){
    .wrapper nav{
      padding: 0 10px;
    }
    .content .logo a{
      font-size: 27px;
    }
    .wrapper .search-box{
      max-width: calc(100% - 70px);
    }
    .wrapper .search-box .go-icon{
      width: 30px;
      right: 0;
    }
    .wrapper .search-box input{
      padding-right: 30px;
    }
  }
  .dummy-text{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    z-index: -1;
    padding: 0 20px;
    text-align: center;
    transform: translate(-50%, -50%);
  }
  .dummy-text h2{
    font-size: 45px;
    margin: 5px 0;
  }


/*PROMOCION*/
.slider{
    width: 95%;
    margin: auto;
    overflow: hidden;
}
.slider ul{
    display: flex;
    padding: 0;
    width: 400%;
    animation: automatico 20s infinite alternate ;
}
.slider li{
    width: 100%;
    list-style: none;
}
.slider img{
    width: 100%;
    height: 500px;
}
@media(min-width: 1000px){
    .slider img{
        height: 550px;
    }
}
@keyframes automatico{
    0%{margin-left: 0;}
    60%{margin-left: 0;}

    65%{margin-left: -100%;}
    100%{margin-left: -100%;}

}

/*JHONNY*/

*{
  position: static;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.pie{
    background: #cdcecf;
    
}
img{
    width: 40px;
}
.logito{
    display: flex;
    align-items: center;
    height: 60px;
    gap: 10px;
}
span{
    font-size: 23px;
}
.Fb{
    background: rgba(0, 81, 255);
    padding: 8px ;
    border-radius: 50px;
    color: white;
}
.TW{
    background: rgba(0, 81, 255);
    padding: 8px ;
    border-radius: 50px;
    color: white;
}
.In{
    background: rgb(255, 0, 179);
    padding: 8px ;
    border-radius: 50px;
    color: white;
}
.Li{
    background: rgb(0, 102, 255);
    padding: 8px ;
    border-radius: 50px;
    color: white;
}
.Yt{
    background: rgb(255, 0, 0);
    padding: 8px ;
    border-radius: 50px;
    color: white;
}
.header{
    display: flex;
    position: static;
    justify-content: space-between;
    align-items: center;
}
.logotipo{
    font-size: 18;
    color: white;
}
 .section{
    display: flex;
    justify-content: space-evenly;
    gap: 40px;
    height: 100 px;
    padding-bottom: 100px;

  }   
.section div{
    display: flex;
    flex-direction: column;
    
}
div h2{
    color: rgb(0, 0, 0);
    padding: 10px 0;
}
a{
  color: rgba(255, 255,255, 0.527);
  text-decoration: none;
  padding: 7px;
}
form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
input{
    background: none;
    border: solid 2px white;
    padding: 10px 20px;
}
button{
    padding: 10px 20px;
    background: white;
    color: black;
    font-size: 18px;
}
.derechos {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
}
.derechos p{
  margin: 0;
}